.login-container {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1531058020387-3be344556be6') no-repeat center center/cover;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.95);
}
